@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aguafina+Script&family=Outfit:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    list-style: none;
}

.container-main {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}

/* ==================STRAT=============//====== */

.get-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-left: 120px;
}


.get-buttom .Loging {
    font-size: 16px;
    line-height: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #2E2E32;
}

.get-buttom .main-get a {
    font-size: 16px;
    line-height: 1.2rem;
    color: #7842E8;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: transparent;
    padding: 12px 24px 12px 48px;
    border-radius: 8px;
    border: 1px solid #7842E8;

}


.section-02 {
    background-image: url(LIGAL_IMG/Ellipse\ 343.png);
    background-repeat: no-repeat;
    min-height: 1023px;
    padding-top: 160px;

}

.hero--heading {
    text-align: center;
    font-size: 18px;
    line-height: 1.588888888888889em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #7842E8;
}

.hero-heading {
    text-align: center;
    font-size: 66px;
    line-height: 1.2969696969696969em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hero-p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
}



.main-tab-btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.tab-btn {
    display: flex;

    align-items: center;
    gap: 13px;
    width: 145px;
    height: 38px;
    border: 1px solid #7842E8;
    border-radius: 45px;
}


.montly {
    padding: 9px 16px 8px 16px;
    background-color: #7842E8;
    border-radius: 20px;
    font-size: 12px;
    line-height: 1.6333333333333335em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #FFF;

}

.yearly {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #7842E8;
}



.tab_card {
    background-color: #ffffffbd;
    padding: 32px 26px 32px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab_card_main {
    max-width: 1140px;
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}





.monYe {
    font-size: 50px;
    line-height: 1.3em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
    padding-top: 32px;


}

.monYe span {
    font-size: 18px;
    line-height: 1.588888888888889em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #919099;

}

.card-heading-2 {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #2E2E32;
    padding-top: 8px;
    padding-bottom: 8px;

}



.card-heading-3 {
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #7842E8;
    padding-bottom: 24px;


}


.bill_4 {
    margin-left: -12px;
}

.ducoment_01 {
    margin-right: 42px;
}




.ducoment {


    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555555555556em;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    padding-top: 24px;
    padding-bottom: 9.5px;

}

.bill {


    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555555555556em;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    padding-top: 8px;

}

.icon-check {
    position: relative;
    top: 8px;
    left: -4px;
}








.bill_2 {

    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555555555556em;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    padding-top: 8px;

}

.bill_3 {
    margin-left: -36px;
}












.card--btn {
    font-size: 16px;
    line-height: 1.225em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    padding: 12px 24px 12px 24px;
    background-color: transparent;
    border: 1px solid#7842E8;
    margin-top: 32px;
    border-radius: 50px;
    transition: .5s ease-in-out;

}

.card--btn:hover {
    background-color: #7842E8;
    color: #FFF;
}


.tab_card,
.card-2 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 0px 2px 24px;

}

/* --=============== Section-02END  ===============-- */


/* --=============== Section-03  STRAT ===============--  -- */

.section-03 {
    background-image: url(LIGAL_IMG/Ellipse\ 342.png);
    background-position: right;
    min-height: 1000px;
    background-repeat: no-repeat;
    padding-top: 160px;
}

.sect-3_heading {
    text-align: center;
    font-size: 42px;
    line-height: 1.2976190476190477em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;

}
.Paragraph-16-R {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color:#919099;
padding-top: 16px;
}

.sect-3_cards  {
    display: flex;
     
    gap: 30px;


}

.sect-3-card {
    padding: 30px 20px 30px 20px;
    background-color: aqua;
    text-align: center;
}