@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aguafina+Script&family=Outfit:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    list-style: none;
}

.container-main {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}

/* ==================STRAT=============//====== */

.get-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-left: 120px;
}


.get-buttom .Loging {
    font-size: 16px;
    line-height: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #2E2E32;
}

.get-buttom .main-get a {
    font-size: 16px;
    line-height: 1.2rem;
    color: #7842E8;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: transparent;
    padding: 12px 24px 12px 48px;
    border-radius: 8px;
    border: 1px solid #7842E8;

}


.section-02 {
    background-image: url(LIGAL_IMG/Ellipse\ 343.png);
    background-repeat: no-repeat;
    min-height: 1023px;
    padding-top: 160px;

}

.hero--heading {
    text-align: center;
    font-size: 18px;
    line-height: 1.588888888888889em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #7842E8;
}

.hero-heading {
    text-align: center;
    font-size: 66px;
    line-height: 1.2969696969696969em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hero-p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
}



.main-tab-btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.tab-btn {
    display: flex;

    align-items: center;
    gap: 13px;
    width: 145px;
    height: 38px;
    border: 1px solid #7842E8;
    border-radius: 45px;
}


.montly {
    padding: 9px 16px 8px 16px;
    background-color: #7842E8;
    border-radius: 20px;
    font-size: 12px;
    line-height: 1.6333333333333335em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #FFF;

}

.yearly {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #7842E8;
}



.tab_card {
    background-color: #ffffffbd;
    padding: 32px 26px 32px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab_card_main {
    max-width: 1140px;
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}





.monYe {
    font-size: 50px;
    line-height: 1.3em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
    padding-top: 32px;


}

.monYe span {
    font-size: 18px;
    line-height: 1.588888888888889em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #919099;

}

.card-heading-2 {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #2E2E32;
    padding-top: 8px;
    padding-bottom: 8px;

}



.card-heading-3 {
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #7842E8;
    padding-bottom: 24px;


}


.bill_4 {
    margin-left: -12px;
}

.ducoment_01 {
    margin-right: 42px;
}




.ducoment {


    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555555555556em;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    padding-top: 24px;
    padding-bottom: 9.5px;

}

.bill {


    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555555555556em;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    padding-top: 8px;

}

.icon-check {
    position: relative;
    top: 8px;
    left: -4px;
}








.bill_2 {

    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555555555556em;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
    padding-top: 8px;

}

.bill_3 {
    margin-left: -36px;
}












.card--btn {
    font-size: 16px;
    line-height: 1.225em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    padding: 12px 24px 12px 24px;
    background-color: transparent;
    border: 1px solid#7842E8;
    margin-top: 32px;
    border-radius: 50px;
    transition: .5s ease-in-out;

}

.card--btn:hover {
    background-color: #7842E8;
    color: #FFF;
}

.tab_card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


/* --=============== Section-02END  ===============-- */


/* --=============== Section-03  STRAT ===============--  -- */

.section-03 {
    background-image: url(LIGAL_IMG/Ellipse\ 342.png);
    background-position: right;
    min-height: 485px;
    background-repeat: no-repeat;
    padding-top: 160px;
}

.sect-3_heading {
    text-align: center;
    font-size: 42px;
    line-height: 1.2976190476190477em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;

}

.Paragraph-16-R {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-top: 16px;
}

.sect-3_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 29px;
    align-items: center;
    justify-items: center;
    padding-top: 64px;



}

.sect-3-card {
    width: 263px;
    height: 297px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    transition: .50s ease-in-out;
    padding: 30px 20px;
}

.Landing__H4 {
    font-size: 25px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
}

.Landing_p {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-top: 12px;
}

.sect-3-card:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}


/* --===============04===============-- */


.section-04 {
    background-image: url(LIGAL_IMG/Ellipse\ 332.png), url(LIGAL_IMG/Ellipse\ 342\ \(1\).png);
    background-position: bottom left, right top;
    background-repeat: no-repeat, no-repeat;
    min-height: 770px;
    padding-top: 160px;
}

.heading-04 {
    max-width: 750px;
    min-height: 123px;
    margin: auto;
}
.sect--4-H {
    text-align: center;
    font-size: 42px;
    line-height: 1.2857142857142858em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32
}

.sect--04_P {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-top: 16px;
    padding-bottom: 64px;

}

.parent-from {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.prant-left__side {
    max-width: 556px;
    min-height:450px;

    background-image: url(LIGAL_IMG/Vector\ 329.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


.first___box {
    display: flex;
    gap: 12px;

    max-width: 468px;


}

.first__box_img {
    background-color: #ffffff93;
    width: 86px;
    height: 86px;
    padding: 18px 18px;
    border-radius: 50px;
    filter: drop-shadow(1px 2px 52px #2726263d);
}

.first___box_text h5 {
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #2E2E32;

}

.first___box_text p {

    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-top: 12px;


}

.secend___box {
    display: flex;
    gap: 12px;
    max-width: 468px;
    padding-top: 64px;
    position: absolute;
    right: 0;
}

.secend___box_text h5 {
    text-align: right;
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #2E2E32;

}


.secend___box_text p {
    text-align: right;
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
}



.secend__box_img {
    background-color: #ffffff93;
    width: 86px;
    height: 86px;
    padding: 18px 18px;
    border-radius: 50px;
    filter: drop-shadow(1px 2px 52px #2726263d);
}





.third__box_img {
    background-color: #ffffff93;
    width: 86px;
    height: 86px;
    padding: 18px 18px;
    border-radius: 50px;
    filter: drop-shadow(1px 2px 52px #2726263d);
}


.third___box {
    display: flex;
    gap: 12px;
    max-width: 468px;
    position: absolute;
    bottom: 0;
}


.hird___box_text h5 {
    text-align: left;
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #2E2E32;

}


.third___box_text p {
    text-align: left;
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
}

/* ==========LEFT SIDE END======= */

.prant-left__right {
    max-width: 543px;
    background-image: url(LIGAL_IMG/Ellipse\ 350.png);
    background-repeat: no-repeat;
    background-position-x: 314;
    margin-left: 97px;
}
.over__view {
    max-width: 451px;
    min-height: 371px;
    background-color: #ffffffa4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 20px;
    position: relative;
    top: 71px;
    right: 90px;
}
 
.over-view__main {
    display: flex;
    justify-content: space-between;
   
}
.time {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 16px;
}
.three_dot {
    width: 30px;
    height: 30px;
}

.over__text_H3 {
   
    font-size: 20px;
    line-height: 1.4em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color:  #2E2E32;
}
.time p {

    font-size: 12px;
    line-height: 1.1em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
}
 
 .tip{ 
        position: absolute;
        margin-top: -30px;
        padding-left: 122px;
 }

 .case {
    width: 242px;
    height: 286px;
    background-color:  #ffffffe5;
    position: absolute;
    right: -95px;
    bottom: -82px;
    padding: 12px 12px 13px 12px;
    filter: drop-shadow(2px 2px 52px  #2726262d);
    border-radius: 9.23px;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.top h6 {
    font-size: 15.39px;
    line-height:  1.3996101364522415em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #2E2E32;
}


.view__btn {
   
    background-color: #FFF;
    padding: 3.08px 6.16px;
    border: 0.77px solid #DBDADF;
    border-radius: 3.08px;
    
}

.view__btn a {
    font-size:9.23px;
    line-height:   1.600216684723727em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color:  #919099;
}



.P--all {
    
    font-size:9.23px;
    line-height:   1.600216684723727em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color:   #2e2e32b9;

}




.top__case {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
 


/* <!--=============== SECTION-05 ===============--> */
.section-05 {
    background-color: #F9F6FF;
    min-height: 955px;
   margin-top: 160px;
   padding-top: 150px;
}
.sect-05-heading{
max-width: 750px;
margin: auto;
text-align: center;

}
.sect-05-heading h2 {
    
    padding-bottom: 16px;

    font-size: 42px;
    line-height:  1.2976190476190477em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color:  #2E2E32;

}
.sect-05-heading p {

    font-size: 16px;
    line-height:  1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #919099;
    padding-bottom: 64px;
}


.prent {
    display: flex;
   
    justify-content: space-between;
}


.sect-left-side{
    max-width: 439px;
    min-height: 468px;
  

}


.Billable {
    display: flex;
    flex-direction: column;
    align-items:left;
}




.billa{
    padding-bottom: 20px;
    font-size: 16px;
    line-height:  1.6em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color:  #2E2E32;
    display: flex;
    align-items: center;
    gap: 8px;

}


.babli-prent {
    display: flex;
    gap: 32px;
}
#browser {
    max-width: 247px;
 text-align: center;
    background-color:#F4EFFF;
    
  border: 1px solid #DBDADF;
    border-radius: 8px;
  padding: 16px 16px 16px 16px;
}
#browser:hover{
    
}

.hours-spnt{
    padding-top: 48px;

}

.hour-spnt-P {
    padding-bottom: 20px;

    font-size: 16px;
    line-height:  1.59375em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color:  #2E2E32;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.spnt {
    padding-left: 266px;
    text-align: center;
    padding-bottom: 9px;
    font-size: 14px;
    line-height: 1.1857142857142857em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #7842E8;
}




.hours-Rate {
    padding-top: 48px;
}
 

.rate {
    padding-right: 49px;
    text-align: center;
    padding-bottom: 9px;
    font-size: 14px;
    line-height:  1.1857142857142857em;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color:   #7842E8;
    
}
.plan {
    padding-top: 48px;
}

.Ligal-plan {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
}



.selected {
    padding-top: 20px;
    display: flex;
    gap: 23px;
}
.choice {
    background-color: #FFF;
    Padding: 12px  24px 12px 24px;
    border-radius: 8px;
    border: 1px solid #DBDADF;
    transition: .50s ease-in-out;
    font-size: 16px;
    line-height: 1.222222em;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    color: #919099;

}
.choice:hover{
    background-color: #7842E8;
    color: #FFF;
}

.sect--right-side {
   width: 537px;
    min-height: 468px;
  padding: 24px 24px;
    background-color: #FFF;
}

.Right-H{
    text-align: center;
    font-size:20px ;
    line-height: 1.4em;
    font-weight: 400;
    color: #2E2E32;
    font-family: "Outfit", sans-serif;
    padding-top: 24.25px;
}
.right-h2{
    text-align: center;
    font-size: 42px;
    line-height: 1.2133333333333334em;
    font-weight: 500;
    color: #7842E8;
    padding-top: 16px;
    padding-bottom: 32px;
    font-family: "Outfit", sans-serif;

}

.all-about {
 
}


.hourluy {
    display: flex;
    justify-content: space-between;
    background-color: #FFFF;
    border: 1px solid #dbdadf6e;
    border-radius: 8px;
    padding: 16px 16px;
    margin-top: 24px;
}
.hourluy  .Time-and--rate  {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 1.5885714285714285em;
    font-style: 400;
    font-family: "Outfit", sans-serif;
color:#2e2e32d3;


}

.left-side--houly p {
    font-size: 14px;
    line-height: 1.5885714285714285em;
    font-weight: 600;
color: #7842E8;
font-family: "Outfit", sans-serif;

}


/* ==================FAQ SECTION====---========== */

.section-06 {
    min-height: 731px;
    margin-top: 160px;
}


.faq-heading {
    max-width: 553px;
    margin: auto;
    text-align: center;
}
.faq-heading h2 {
    font-size: 42px;
    line-height:  1.3em;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    color: #2E2E32;
}

.faq-heading p {
    font-size: 16px;
    line-height:  1.6em;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    color:  #919099;
    padding-top: 20px;
    padding-bottom: 64px;
}

.left-side--FAQ {
    max-width: 537px;
    min-height: 540px;
  
}
.main__FAQ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 80px;
}

/* <!-- =======SECTION--FOOTER=======----== --> */
.footer {
    min-height: 516px;
    background-image: url(LIGAL_IMG/Hero\ bg.png);
    background-repeat: no-repeat;
 background-size: cover;
    margin-top: 160px;
    padding-top: 123px;
}


.footer-content {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 80px;
    align-items: center;
}






.first-footer {
    max-width: 262px;
    min-height: 228px;
   
 
}



.dics--footer {
    color: #919099;
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.5999999999999999em;
    font-weight: 400;
    font-family: "Outfit", sans-serif;

}

.socile-icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.socile-icon  a{
background-color: 
#060615;
padding: 14px 14px;
border: 1px solid #9999BD40;
border-radius: 8px;
color: #FFF;
transition: all 0.5s ease-in-out;
 
}
.socile-icon  a:hover{
    background-color: #7842E8;
    color: #FFF;
}
.ri-facebook-box-fill,
.ri-instagram-line,
.ri-youtube-line{
    font-size: 25px;
}
 

.secend-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



 .product  .product_h {
    color: #DBDADF;
    padding-bottom: 20px;
    font-size: 20px;
    line-height:  1.4em;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
}


.product ul  a {
    font-size: 14px;
    line-height: 1.5714285714285714em;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    color:#919099;
    
}
.li-1,
.li-2,
.li-3,
.li-4 {
    padding-bottom: 12px;
}

.third-footer {
 
padding-top: 20px;
}
.third-footer h5 {
    color: #FFFF;
    font-size: 20px;
    padding-bottom: 20px;
}
 

.email-box{
   padding:20px 20px 24px 20px ;
    background-color:  #19192D;
    border-radius: 8px;
    position: relative;
   
}

 

.email-main p {
    padding-bottom: 12px;
    color: #FFF;
}
#emil-icon {
    position: absolute;
    padding-top: 14px;
    right: 110px;
    color: #FFF;
}

#email {
    background-color: #19192D;
   color: #FFFF;
    border: 1px solid #2B2B3F;
    padding: 10px 12px;
}
 


 .third-p  {
    color: #FFF;
 }
 .third--fotter-box {
    display: flex;
 }