@media (min-width:768px) and (max-width:1080px)  {



/* ========SECTION-02===---== */


.section-02 {
    padding-top: 80px;
}


.hero-heading {
     
    font-size: 47px;
   
}






/* ========SECTION-02 END===---== */




/* ========SECTION-03===---== */

.section-03 {
 
    padding-top: 80px;
}


    .sect-3_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px 0px;
    }

/* ========SECTION-03 END===---== */

/* ========SECTION-04 STRAT===---== */
.prant-left__side {
    max-width: 556px;
    min-height: 450px;
    background-image: none;
  
    position: relative;
}

.parent-from {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: unset;
}


.first___box {
    display: flex;
    gap: 12px;
    max-width: 556px;
}

.first___box_text p {
    font-size: 17px;
     

}

.secend___box {
    display: flex;
    gap: 12px;
    max-width: 468px;
    padding-top: 20px;
    position: unset;
}

.third___box {
    display: flex;
    gap: 12px;
    max-width: 468px;
    position:  unset;
    padding-top: 20px;
}

.sect--04_P {
     
    padding-bottom: 42px;
}
    

.prant-left__right {
    max-width: 400px;
  
    margin-right: -147px;
}


.tip {
    position: absolute;
    margin-top: -17px;
    padding-left: 74px;
}


.chart-img {
    max-width: 250px;
}

.top-img {
    
    max-width: 150px;
}
.over__view {
    max-width: 269px;
    min-height: 309px;
    background-color: #ffffffa4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 20px;
    position: relative;
    top: 71px;
    right: 100px;
}

.top {
    display: flex;
    align-items: center;
    
    gap: 50px;
    padding-bottom: 15px;
}





.case {
    width: 184px;
    height: 232px;
    background-color: #ffffffe5;
    position: absolute;
    right: -95px;
    bottom: -82px;
    padding: 12px 12px 13px 12px;
    filter: drop-shadow(2px 2px 52px  #2726262d);
    border-radius: 9.23px;
}



/* <!--=============== SECTION-05 ===============--> */

.section-05 {
    margin-top: 80px;
    padding-top: 80px;
}

.prent {
    display: flex;
    gap: 36px;
     
}

 

.spnt-img {
    max-width: 300px;
}

.spnt {
   padding: unset;
   
   
     
}

.rate-img{
    max-width: 300px;
}



.rate {
   
    text-align: unset;
    padding-left: 86px;
    
}


.selected {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.Right-H {
   
    font-size: 18px;
     
    padding-top: 15px;
}

.right-h2 {
 
   
    padding-bottom: 7px;
  
}

#browser {
    max-width: 164px;
    text-align: center;
    background-color: #F4EFFF;
    border: 1px solid #DBDADF;
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
}

.sect--right-side {
    width: 424px;
    min-height: 468px;
    padding: 11px 3px;
    background-color: #FFF;
}







/* ======Section-FAQ =====-==== */

.main__FAQ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}


.FAQ-img {
    max-width: 350px;
}

.section-06 {
    
    margin-top: 80px;
}


/* ======--=======FOOTER========--- */

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
}
#emil-icon {
   
    padding-top: 14px;
    right: 45px;
    
}

}